<div class="card-guia">
    <h1>Guia da Página</h1>
    <hr>
    <div class="alinhamento">
        <div class="card">
            <mat-icon class="icon">supervisor_account</mat-icon>
            <p>Mostra todos os alunos cadastrados e suas respectivas notas.</p>
        </div>
        <div class="card">
            <mat-icon class="icon">delete</mat-icon>
            <p>Remove notas ou alunos passando o numero de matricula como busca.</p>
        </div>
        <div class="card">
            <mat-icon class="icon">group_add</mat-icon>
            <p>Adiciona novos alunos e cadastra novas notas.</p>
        </div>
        <div class="card">
            <mat-icon class="icon">bar_chart</mat-icon>
            <p>Mostra métricas como numero de alunos matriculados e em quais diciplinas.</p>
        </div>
        <div class="card">
            <mat-icon class="icon">update</mat-icon>
            <p>Atualiza Dados das notas e Alunos.</p>
        </div>
    </div>
</div>
