<div class="card-guia">
    <h1>Guia da Página</h1>
    <hr>
    <div class="card">
        <p>icon</p>
        <p>Mostra todos os alunos cadastrados e suas respectivas notas.</p>
    </div>
    <div class="card">
        <p>icon</p>
        <p>Remove notas ou alunos passando o numero de matricula como busca.</p>
    </div>
    <div class="card">
        <p>icon</p>
        <p>Adiciona novos alunos e cadastra novas notas.</p>
    </div>
    <div class="card">
        <p>icon</p>
        <p>Mostra métricas como numero de alunos matriculados e em quais diciplinas.</p>
    </div>
    <div class="card">
        <p>icon</p>
        <p>Personaliza a plataforma, alterando as cores dos itens.</p>
    </div>
</div>
