
<div class="menu">
    <div class="botoes">
        <button mat-fab  class="botao">
            <a routerLink="/"><mat-icon >home</mat-icon></a>
        </button>
        <button mat-fab  class="botao">
            <a href="/todososalunos"><mat-icon>supervisor_account</mat-icon></a>
        </button>
        <button mat-fab class="botao">
            <mat-icon>group_add</mat-icon>
        </button>
        <button mat-fab class="botao">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab class="botao">
            <mat-icon>bar_chart</mat-icon>
        </button>

    </div>
    

    <div class="configuracao">
        <button mat-fab aria-label="Example icon button with a delete icon" class="botao">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>

 