.exemple-container{

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .barraDeMenu{
        position: fixed;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: var(--primary);
        width: 100%;
        height: 70px;
        
        .botao-menu{
            
            transition: all .5s;
            border: 10px solid transparent;
            color: var(--bg);
            font-size: 40px;
            height: auto;
            width: auto;
        }
        .botao-menu:hover{
            cursor:pointer;
            background-color:#136497;
            border-radius: 5%;
        }
        
        
    
    }
}